{# templates/proj_start.html.twig #}

{% include 'proj/incl/proj_header.html.twig' %}


<body>
    {% include 'proj/incl/proj_nav.html.twig' %}

    <div class="player-info">
        <p>
            Complete quests and find your way out of the mansion!
        </p>
    </div>

    {% if (inSession) %}
        
        <form class="start" method="get" action="">
            <p>You have an active session. Press continue to play or reset game.</p>
            <p>
                <button type="submit" name="continueGame" value=""
                    onClick="this.form.action='{{ path('proj/play') }}';"
                >Continue game</button>
                <button type="submit" name="resetGame" value=""
                    onClick="this.form.action='{{ path('proj/play/reset') }}';"
                >Reset game</button>
            </p>
            
        </form>
    {% else %}
        <form class="start" method="post" action="">
            <p>
                <input type="input" name="name" placeholder="Player name (*)" required>
                <select name="numberOfQuests">
                    <option value="" disabled selected>How many quests?</option>
                    {% for number in 1..quests %}
                        <option value="{{ number }}">{{ number }}</option>
                    {% endfor %}
                    
                </select>
            </p>
            <p>
                <button type="submit" name="startGame" value=""
                    onClick="this.form.action='{{ path('proj/play_start_callback') }}';"
                >Start new game</button>
            </p>
        </form>

        
        
    {% endif %}

    {% include 'proj/incl/proj_footer.html.twig' %}
</body>

</html>

