{# templates/proj_start.html.twig #}

{% include 'proj/proj_header.html.twig' %}


<body>
    {% include 'proj/proj_nav.html.twig' %}


    

            <h1>{{ heading }}</h1>
            

            <div class="room" style="background-image: url('img/cat.jpg')">
              {% for direction, door in gameState.currentRoom.getDoors() %}
                {% if (door) %}
                  <div class="exit {{ direction }}"></div>
                {% endif %}
              {% endfor %}

              <div class="room-content">
                <h3>{{ gameState.currentRoom.getName() }}</h3>
              </div>
            </div>
            <p>{{ gameState.currentRoom.getDescription() }}</p>
              <h4>Items:</h4>
              {% for item in gameState.currentRoom.getItems() %}
                <p>{{item.name}}, {{item.description}}</p>
              {% endfor %}

            {{ dump(gameState) }}
            {{ dump(grid) }}



    {% include 'proj/proj_footer.html.twig' %}
</body>

</html>


