{# templates/proj_inventory.html.twig #}


<div class="inventory-container">
  <h3>{{ gameState.player.getName()}}</h3>
  {% for itemId, item in gameState.player.getInventory() %}
        <div class="inventory-item">
          <h4>{{item.name}}</h4>
          <p>{{item.description}}</p>
          <form class="room-drop-item" method="post" action="">
            <button type="submit" name="dropItem" value="{{ itemId }}"
              onClick="this.form.action='{{ path('proj/play_dropItem_callback') }}';"
            >Drop item</button>
          </form>
        </div>
      {% endfor %}
</div>


