{# templates/proj_room.html.twig #}


<div class="room" style="background-image: url('{{ path('game_picture', {'id': gameState.currentRoom.getId() }) }}')">
  
  {% for direction, door in gameState.currentRoom.getDoors() %}
    {% if (door) %}
    <form class="exit {{ direction }}" method="post" action="">
      <button type="submit" name="move" value="{{ direction }}"
        onClick="this.form.action='{{ path('proj/play_move_callback') }}';"
      ></button>
    </form>
    {% endif %}
  {% endfor %}

  <div class="room-content">
    <h3>{{ gameState.currentRoom.getName() }}</h3>
    <p>{{ gameState.currentRoom.getDescription() }}</p>
  </div>

  <div class="room-items">
    <h3>Items:</h3>
    {% if (gameState.currentRoom.getItems() )%}
      {% for itemId, item in gameState.currentRoom.getItems() %}
        <div class="room-item">
          <h4>{{item.getName()}}</h4>
          <p>{{item.getDescription()}}</p>
          <form class="room-take-item" method="post" action="">
            <button type="submit" name="takeItem" value="{{ itemId }}"
              onClick="this.form.action='{{ path('proj/play_takeItem_callback') }}';"
            >Pick up</button>
          </form>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>



