{# templates/report.html.twig #}

{% include 'incl/header.html.twig' %}


<body>
    {% include 'incl/nav.html.twig' %}

    <div class="content-area">
        <div class="content">
            
            {% include 'incl/flash.html.twig' %}

            <h2>21</h2>
            <form method="post" action="">
                <p>
                    <input type="submit" name="draw" value="Dra kort"
                        onClick="this.form.action='{{ path('game_draw') }}';"
                    >
                    <input type="submit" name="stop" value="Stanna"
                        onClick="this.form.action='{{ path('game_stop') }}';"
                    >
                    <input type="submit" name="restart" value="Starta om"
                        onClick="this.form.action='{{ path('game_init') }}';"
                    >
                </p>
            </form>

            <p>Din poäng: {{ gameState["player"]["score"]}}</p>
            <p>Bankens poäng: {{ gameState["bank"]["score"]}}</p>

            <div class="card-area">
                

                <h4>{{ gameState["player"]["name"] }}s hand:</h4>
                
                
                <div class="player-area">
                    <div class="card back">{{ gameState["remaining_cards"] }}</div>
                    {% for card in gameState["player"]["hand"] %}
                        <div class="card {{ card.getCssColor() }} value{{ card.getValue() }}">
                        </div>
                    {% endfor %}
                </div>
                
                

            </div>

            
            
        </div>
    </div>

    {% include 'incl/footer.html.twig' %}
</body>

</html>


