{# templates/game_start.html.twig #}

{% include 'incl/header.html.twig' %}


<body>
    {% include 'incl/nav.html.twig' %}


    <div class="content-area">
        <div class="content">
            {% include 'incl/flash.html.twig' %}
            <h2>{{ heading }}</h2>
            {{ content|raw }}

            {{ dump(books) }}

            <form method="get" action="">
                <input type="submit" name="back" value="Tillbaka till översikt"
                    onClick="this.form.action='{{ path('library') }}';"
                >
            </form>

            {% for book in books %}
                <form method="post" action="">
                    {% for b in books %}
                        <input type="hidden" name="selected_books[]" value="{{ b.getId() }}">
                    {% endfor %}
                    <input type="hidden" name="book_to_update" value="{{ book.getId() }}">
                    <input type="input" name="title" value="{{ book.getTitle() }}" required>
                    <input type="input" name="author" value="{{ book.getAuthor() }}">
                    <input type="input" name="isbn" value="{{ book.getIsbn() }}" required>
                    <input type="input" name="picture" value="Bild">
                    <input type="submit" name="edit" value="Spara ändringar"
                        onClick="this.form.action='{{ path('library_edit_callback') }}';"
                    >
                </form>
            {% endfor %}

            
        </div>
    </div>

    {% include 'incl/footer.html.twig' %}
</body>

</html>


