{# templates/game_start.html.twig #}

{% include 'incl/header.html.twig' %}


<body>
    {% include 'incl/nav.html.twig' %}


    <div class="content-area">
        <div class="content">
            {% include 'incl/flash.html.twig' %}
            <h2>{{ heading }}</h2>

            <form method="post" action="">
                <p>
                    <input type="submit" name="add" value="Lägg till ny bok"
                        onClick="this.form.action='{{ path('library_add') }}';this.form.method='get';"
                    >
                    <input type="submit" name="edit" value="Redigera markerade"
                        onClick="this.form.action='{{ path('library_edit') }}';this.form.method='get';"
                    >
                    <input type="submit" name="remove" value="Ta bort markerade"
                        onClick="this.form.action='{{ path('library_remove') }}';this.form.method='get';"
                    >
                </p>
            


            <table class="library-table">
                <thead>
                    <tr>
                        <th>Bild</th>
                        <th>Titel</th>
                        <th>Författare</th>
                        <th>ISBN</th>
                        <th>Markera</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                        <tr>
                            {% if book.getPicture() %}
                                <td><img src="{{ path('book_picture', {'id': book.getId()}) }}" alt="Book picture" width="100"></td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            <td><a href="{{ path('library_show', {id: book.getId()}) }}">{{ book.getTitle() }}</a></td>
                            <td>{{ book.getAuthor() }}</td>
                            <td>{{ book.getIsbn() }}</td>
                            <td><input type="checkbox" id="{{ book.getId() }}" name="book_ids[]" value="{{ book.getId() }}"></td>
                        </tr>
                    {% endfor %}
                </tbody>

              </table> 

            </form>
            
        </div>
    </div>
    {% include 'incl/footer.html.twig' %}
</body>

</html>


