{# templates/game_start.html.twig #}

{% include 'incl/header.html.twig' %}


<body>
    {% include 'incl/nav.html.twig' %}


    <div class="content-area">
        <div class="content">
            {% include 'incl/flash.html.twig' %}
            <h2>{{ heading }}</h2>
            {{ content|raw }}

            <form method="post" action="">
                <p>
                    <input type="submit" name="add" value="Lägg till ny bok"
                        onClick="this.form.action='{{ path('library_add') }}';this.form.method='get';"
                    >
                    <input type="submit" name="edit" value="Visa/redigera markerade"
                        onClick="this.form.action='{{ path('library_edit') }}';this.form.method='get';"
                    >
                    <input type="submit" name="remove" value="Ta bort markerade"
                        onClick="this.form.action='{{ path('library_remove') }}';this.form.method='get';"
                    >
                </p>
            


            <table>
                <tr>
                    <th>Bild</th>
                    <th>Titel</th>
                    <th>Författare</th>
                    <th>ISBN</th>
                    <th>Markera</th>
                </tr>
                {% for book in books %}
                    <tr>
                        {% if book.getPicture() %}
                            <td><img src="{{ path('book_picture', {'id': book.getId()}) }}" alt="Book picture" width="100"></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ book.getTitle() }}</td>
                        <td>{{ book.getAuthor() }}</td>
                        <td>{{ book.getIsbn() }}</td>
                        <td><input type="checkbox" id="{{ book.getId() }}" name="book_ids[]" value="{{ book.getId() }}"></td>
                    </tr>
                {% endfor %}

              </table> 

            </form>
            
        </div>
    </div>
    {% include 'incl/footer.html.twig' %}
</body>

</html>


