{# templates/game_start.html.twig #}

{% include 'incl/header.html.twig' %}


<body>
    {% include 'incl/nav.html.twig' %}


    <div class="content-area">
        <div class="content">
            {% include 'incl/flash.html.twig' %}
            <h2>{{ heading }}</h2>

            <form method="get" action="">
                <input type="submit" name="back" value="Tillbaka till översikt"
                    onClick="this.form.action='{{ path('library') }}';"
                >
            </form>

            {% for book in books %}
                <form method="post" action="" enctype="multipart/form-data">
                    {% for b in books %}
                        <input type="hidden" name="selected_books[]" value="{{ b.getId() }}">
                    {% endfor %}
                    <p>
                        <input type="hidden" name="book_to_update" value="{{ book.getId() }}">
                        <input type="input" name="title" value="{{ book.getTitle() }}" required>
                        <input type="input" name="author" value="{{ book.getAuthor() }}">
                        <input type="input" name="isbn" value="{{ book.getIsbn() }}" required>
                    </p>
                    <p>
                        {% if book.getPicture() %}
                            <img src="{{ path('book_picture', {'id': book.getId()}) }}" alt="Book picture" width="100">
                            <label>Ändra bild:
                                <input type="file" name="picture" accept="image/*">
                            </label>
                        {% else %}
                            <label>Lägg till bild:
                                <input type="file" name="picture" accept="image/*">
                            </label>
                        {% endif %}
                    </p>
                    <p>
                        <input type="submit" name="edit" value="Spara ändringar"
                            onClick="this.form.action='{{ path('library_edit_callback') }}';"
                        >
                    </p>
                </form>
            {% endfor %}

            
        </div>
    </div>

    {% include 'incl/footer.html.twig' %}
</body>

</html>


